svg {
  position: relative;
  right: -95%;
  top: 7%;
  width: 36px;
  min-width: 36px;
  height: 24px;
  font-size: 1rem;
  color: #607274;
  cursor: pointer;
}

svg:focus,
svg:hover {
  color: steelblue;
  outline: none;
}
@media (max-width: 410px) {
  svg {
    right: -85%;
  }
}
@media (max-width: 875px) {
  svg {
    right: -90%;
  }
}
