svg {
  position: relative;
  right: -90%;
  top: 7%;
  width: 36px;
  min-width: 36px;
  height: 24px;
  font-size: 1rem;
  color: #607274;
  cursor: pointer;
}

svg:focus,
svg:hover {
  color: steelblue;
  outline: none;
}
@media (min-width: 375px) {
  svg {
    right: -65%;
  }
}
@media (min-width: 450px) {
  svg {
    right: -75%;
  }
}
@media (min-width: 575px) {
  svg {
    right: -85%;
  }
}
